SUPABASE_URL=https://icmgkdsxquhbfgydruby.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljbWdrZHN4cXVoYmZneWRydWJ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDMwMDgxNywiZXhwIjoyMDg5ODc2ODE3fQ.xjFlkIfdpfiRuB_pk8pwDcQH8AZEID_AoTWQJUKArjU
ADMIN_ACCESS_KEY=saul123procofa
RECOGNITIONS_BUCKET=recognitions
PUBLIC_SITE_URL=https://celebrated-profiterole-50371a.netlify.app
